body {
  background: black;
  color: white;
}
a:hover {
  background-color: white;
}
a {
  text-decoration: none;
color: #C3BA46;

}


h1 {
  font-family: fantasy;
  text-align: center;
}

address {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  font-family: monospace;
  font-size: 16pt;
  font-weight: bolder;
  color: #C3BA46;
  text-align: center;
}

h4 {
  color: blue;
  text-decoration: underline;

}
p {
  border: 3px solid powderblue;
  padding: 5px;
}

table, td, th {
  border: 2px solid white;
  padding: 2px;
}
img {
  align-items: center;
}
#color {
  color: blue;
  font-weight: bold;
}

#profilepic {
  border: 3px solid powderblue;
  padding: 5px;
  text-align: center;

}


#underline {
  text-decoration: underline;
}

#Languages {
  text-decoration: underline;
}

#ACTIVITIES {
  text-decoration: underline;

}

#INTERESTS {
  text-decoration: underline;
}

ul
{
    list-style-type: square;

  }

  .class1 {
  text-decoration: underline;
   }
